{% load users_tag %}
<html>
	<head>
		<title>List of users</title>
	</head>
	<body>
		<table>
			{% for user in users %}
			<tr>
				<td>{{ user.id }}</td>
				<td>{{ user.user.username }}</td>
				<td>{{ user.birthday_date }}</td>
				<td>{{ user.random_number }}</td>
				<td><a href="/view_user/?id={{user.id}}">View user</a></td>
				<td><a href="/edit_user/?id={{user.id}}">Edit user</a></td>
				<td><a href="/delete_user/?id={{user.id}}">Delete user</a></td>
				<td>{% user_permission user %}</td>
				<td>{% bizz_fuzz user %}</td>
			</tr>
			{% endfor %}
		</table>
	</body>
</html>