<html>
	<head>
		<title>View user {{user.user.username}}</title>
	</head>
	<body>
		<li>{{user.id}}</li>
		<li>{{user.user.username}}</li>
		<li>{{user.birthday_date}}</li>
		<li>{{user.random_number}}</li>	
	</body>
</html>